/* Reset some default styles */
body, h1, h2, p, form {
    margin: 0;
    padding: 0;
}

/* Basic styling for the page */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f8f8f8;
    color: #333;
}

.reh {
    text-align: center;
    margin-top: 2rem;
}

.dashbord {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.box {
    height: 50rem;
    width: 150%; /* Adjust the width as needed */
    padding: 20px;
    background-color: #0aeac5;
    border-radius: 10px;
    color: rgb(11, 130, 214);
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Basic styling for the contact form */
.contact-form {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input[type="text"],
form input[type="email"],
form textarea {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0.5rem;
    width: 100%;
    transition: border-color 0.3s ease;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
    border-color: #007BFF;
}

form button {
    background-color: #007BFF;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #007BFF;
    color: rgb(255, 255, 255);
}
