<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
    <header>
        <h1>Global Economic Data: Comprehensive Analysis and Insights</h1>
        <p>Making Strategic Decisions Based on tourist</p>
    </header>
    <main>
        <section class="project-info">
            <h2>About the Project</h2>
            <p>
                Analyzing and deriving actionable insights from global economic data is crucial for businesses, policymakers, and researchers to make informed
                decisions and navigate the complex global landscape.The problem statement aims to address the need for leveraging IBM Cognos to achieve 
                comprehensive analysis and actionable insights from global economic data.
            </p>
        </section>
        <section class="project-image">
            <img src="{{ url_for('static', filename='pexels-oleksandr-p-321542.jpg') }}" alt="">
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Ibm hack challenge. All rights reserved.</p>
    </footer>
    
</body>
</html>