<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}"/>
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body >
<div id="header-wrapper" >
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Global Economic </a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="active"><a href="/index" accesskey="1" title="">Homepage</a></li>
				<li><a href="/about" accesskey="2" title="">About</a></li>
				<li><a href="/dashboard" accesskey="3" title="">Dashboard</a></li>
				<li><a href="/report" accesskey="4" title="">Report</a></li>
				<li><a href="/story" accesskey="5" title="">Story</a></li>
				<li><a href="/contactus" accesskey="6" title="">Contact Us</a></li>
			</ul>
		</div>
	</div>
	<div id="banner" class="container">
		<div class="title">
			<h2 class="heading">IBM HACK CHALLENGE</h2>
			<span class="byline">Global Economic Data: Comprehensive Analysis and Insights</span>
		</div>
		<ul class="actions">
			<li><a href="/dashboard" class="button">View Dashboard</a></li>
		</ul>
	</div>
</div>
<div id="wrapper">
	<div id="three-column" class="container">
		<div class="title">
			<h2>Report</h2>
			<span class="byline">
				The global economy is a dynamic and intricate web of transactions, indicators, and trends that influence businesses, governments, and individuals alike. Access to timely and accurate economic data has become essential for making strategic decisions in an increasingly competitive and uncertain environment. This report sheds light on the methods and tools used to analyze global economic data comprehensively, focusing on the role of IBM Cognos as a powerful analytical solution.</span>
		</div>
		<div class="boxA">

			<a href="/report" class="button button-alt">view Report</a>
		</div>
		
	</div>
</div>
<div id="welcome">
	<div class="container">
		<div class="title">
			<h2>Story</h2>
			<span class="byline">Amidst bustling marketplaces, ancient ruins, and pristine beaches, the world of tourism takes center stage. Tourists traverse continents, leaving footprints and currencies in their wake. Yet, beneath the surface lies a complex tapestry—an intricate web of spending patterns, traveler preferences, and economic impacts that shape not just destinations, but entire economies.</span>
		</div>
		<ul class="actions">
			<li><a href="/story" class="button">view Story</a></li>
		</ul>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy;  IBM HACK CHALLENGE </a> | Design by  Dreams Hack</p>
</div>
</body>
</html>
