<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Assembly 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140330

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}"/>
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body >
    
    <h1 class="reh">Report</h1>
   <div class="dashbord">
    <div class="box">
        <iframe src="https://eu2.ca.analytics.ibm.com/bi/?pathRef=.my_folders%2Freport&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=run&amp;format=HTML&amp;prompt=false" width="1200" height="850" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
</div>
</div>
</body>
</html>